@model IEnumerable<SchoolManagementApp.MVC.Data.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <!-- Navigate to the Create Action in the Courses Controller-->
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!-- Get the name of the model(table) object-->
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <!-- Get the code of the model(table) object-->
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                <!-- Get the credits of the model(table) object-->
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the records in table, display name, code, and credits-->
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @* @item.Credits *@
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete Old</a> *@

                <!-- Bind data to the element, Fire off the clicked event-->
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="courseDeleteForm">
    <input type="hidden" id="courseid" name="Id"/>
</form>

@section Scripts{
    <script>
        $(function(){
            $(".table").DataTable();

            // Fire off a sweet alert event
            $(".deleteBtn").click(function(e){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => { // If the user say yes
                if (result.isConfirmed) {
                    Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                    )
                    // Get the clicked button (the object that fired the event)
                    var btn = $(this);
                    // Get data-id value from the button tag <button data-id="(at)item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
                    var id = btn.data("id");
                    // Set that id value in the form <input type="hidden" id="courseid" name="Id"/>
                    $('#courseid').val(id);
                    // Submit the form <form asp-action="Delete" id="courseDeleteForm">
                    $('#courseDeleteForm').submit()
                    }
                })
            })
        })
    </script>
}